<!DOCTYPE html>
<html>
  <head>
    <title>RailsFrontend</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# points to 'app/assets/stylesheets/application.scss' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# points to app/javascrips/application.js %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
